@page "/add_season"

<PageTitle>Add season</PageTitle>

<h1>Add season</h1>

<EditForm class="app-form" Model="@data" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="name">Season name</label>
        <InputText id="name" class="form-control" @bind-Value="data.Name" />
    </div>

    <div class="form-group">
        <label for="start-year">Start year</label>
        <InputNumber id="start-year" class="form-control" @bind-Value="data.StartYear" />
    </div>

    <div class="form-group">
        <label for="end-year">End year</label>
        <InputNumber id="end-year" class="form-control" @bind-Value="data.EndYear" />
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
</EditForm>
